body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 140vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 170px;

}

aside .logo {
    font-size: 20px;
    margin-left: 25px;
    font-weight: bold;
    position: relative;
    top: 20px;
    text-align: center;
}

aside h3 {
    margin-top: 40px;
    font-size: 28px;
}

aside ul {
    list-style: none
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 10px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 12px;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 26%;
    width: 600px;
    margin-top: 25px;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
    color: #ffffff;
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
	border-right: none;
}