{% extends 'landing/layout.html' %}

{% block title %}Список заявок{% endblock %}

{% block content %}
    <div class="features">
        <h1>Список заявок</h1>
        <h6>Номер страницы {{ page.number }}</h6>
                <br><br>
        <form method="get">
            <input name="search" type="text" placeholder="Поиск..">
            <button class="btn btn-success" type="submit" value="Select">Поиск</button>
        </form><br>
            <table class="table">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Номер объекта</th>
                        <th>Время</th>
                        <th>Имя объекта</th>
                        <th>Адрес</th>
                        <th>Комментарий</th>
                        <th>Тип неисправности</th>
                        <th></th>
                    </tr>
                    {% for el in page.object_list %}
                    <tr>
                        <td>{{ el.id }}</td>
                        <td>{{ el.number_object }}</td>
                        <td>{{ el.completion_date }}</td>
                        <td>{{ el.name_object }}</td>
                        <td>{{ el.address_object }}</td>
                        <td>{{ el.comment }}</td>
                        <td>{{ el.type_of_problem }}</td>
                        <td>
                            <p>
                                <a href="{% url 'application-detail' el.id %}" class="far fa-calendar-plus"></a>
                                <a href="{% url 'application-update' el.id %}" class="far fa-edit"></a>
                                <a href="{% url 'application-delete' el.id %}" class="fas fa-trash-alt"></a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

    <div class="pagination">
        <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Назад</a>
        {% endif %}
        <span class="current">
            Страница {{ page.number }} из {{ page.paginator.num_pages }}
        </span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Вперед</a>
        {% endif %}
        </span>
    </div>

    </div>
{% endblock %}