{% extends 'landing/layout.html' %}

{% block title %}Создание заявки{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.number_object }}<br>
            <div class="form-row">
                    {{ form.urgency_application }}
                    {{ form.completion_date }}
                    {{ form.service_area }}
                    {{ form.source_application }}
            </div>
            {{ form.name_object }}<br>
            {{ form.address_object }}<br>
            <div class="form-row">
                {{ form.status_application }}
                {{ form.type_of_problem }}
            </div>
            {{ form.comment }}<br>
            {{ form.initiator_of_the_application }}<br>
            Закрыл {{ form.technician }}<br><br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Создать заявку</button>
        </form>
    </div>
{% endblock %}